
{% block body %}
  <div class="row col-lg-12">
      <div class=" col-lg-12" >
        <nav class="navbar navbar-expand-sm bg-info navbar-dark navbar-fixed-top">
          <a class="navbar-brand col-lg-4" href="#">Logo</a>
          <h3 class="col-lg-5">Banque du peuple </h3>
          <form class="form-inline" action="#">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-info" type="btn">Ok</button>
          </form>
        </nav>
      </div>
    
{% endblock %}