{% extends 'base.html.twig' %}

{% block title %}Hello DashboadController!{% endblock %}



{% block body %}
    {% include 'template/topbar.html.twig' %}
    {% include 'template/left.html.twig' %}

    <div class="col-lg-9" style="margin-top: 20px;" id="contain">
        <div class="jumbotron">
          <h1>Bienvenue banque du peuple </h1>
        
          <h2><a href="https://github.com/moussadiene" class="btn btn-success" target="_blank"> Djine</a></h2>
            
        </div>
    </div>
  
</div>

{% endblock %}
